h1 {
    color:rgb(243, 229, 242);
    background:darkgrey;
    text-align: center;
    font-size: 40px;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 20px;
    margin-bottom: 30PX;
    margin: 80PX 50px 80px 50px;
    padding: 20px 20px;
    
}
h2 {
   color:rgb(160, 28, 151);
    background:rgba(190, 183, 183, 0.212);
    box-shadow: 3px 3px 70px rgb(71, 71, 57);
    text-align:center;
    font-size: 40px;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 10px;
    margin-top: 80px;
    margin: 100PX  50px;
}
#subTitulo1 {
   background: gray;
}
#subTitulo2 {
   background: lightgrey;
}
.sombra {
   box-shadow: 3px 3px 5px black (0, 0, 0, 0.518);

}
a {
    background: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 5px;
    text-transform:uppercase;
}
    a:haver {
        background: white;
        color:black;
        border: 1px solid black;
    }

